nav{
    
    a{
        margin-right: 0.5rem;
        text-decoration: none;
        font-size: 1rem;
        color: $blue;
        background-color: white;
        padding: 0.4rem 1rem;
        border-radius: 4px;
        transition: 0.3s all;
    }

    a:hover{
        background-color: $yellow;
        color: white;
    }

    i{
        display: none;
        font-size: 2rem;
        color: $yellow;
        transition: .3s all;
        cursor: pointer;
    }
    i:hover{
        color: $y-hover;
    }

    @include mq('sm'){

        a{
            font-size: 1.1rem;
        }
    }

    @include mq('md'){

        a{
            font-size: 1.3rem;
        }
    }
}