.adress{
    text-align: center;
    position: relative;
    i{
        color: $yellow;
        font-size: 1.3rem;
        margin-right: 0.5rem;
    }
    input{
        text-align: center;
        margin-right: 1.8rem;
        transition: .1s all;
        width: 190px;
        color: $blue;
        border: none;
        border-radius: 4px;
        padding: 0.4rem 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    input:focus{
        outline: none;
        border: 2px solid $yellow;
    }

    a{
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        display: block;
        text-decoration: none;
        color: white;
        padding: 0.4rem 1rem;
        border-radius: 10px;
        background-color: $yellow;
        transition: .3s all;
    }
    a:hover{
        background-color: $y-hover;
    }

    @include mq('sm'){
        i{
            font-size: 1.5rem;
        }
        input{
            width: 210px;
            font-size: 1.1rem;
        }

        a{
            font-size: 1.1rem;
            padding: 0.4rem 2rem;
        }
    }

    @include mq('md'){
        i{
            font-size: 1.6rem;
        }
        input{
            width: 250px;
            font-size: 1.2rem;
        }

        a{
            font-size: 1.2rem;
            padding: 0.4rem 2.5rem;
        }
    }
}